.default {
    width: 36px;
    height: 36px;
    border-radius: 7px;
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.1s;
}

.default:hover {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
}


.selected {
    opacity: 1;
}

.default.selected:hover {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
}
