.default {
    position: relative;
    height: 1.5rem;
    line-height: 1.2rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.name {
    display: block;
    color: #ab9ba9;
    height: 100%;
    padding: 0 0 0 1rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.name:hover {
    background-color: #3e313c;
}

.active {
    composes: name;
    color: white;
    background-color: #4c9689;
}

.active:hover {
    background-color: #4c9689;
}


.icon {
    display: inline-block;
    width: 1em;
    vertical-align: middle;
    fill: currentColor;
    opacity: .5;
    margin: 0;
}

.active .icon {
    fill: #b2d5c9;
    opacity: 1;
}


.text {
    vertical-align: middle;
}
