.default {
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.375rem;
    max-width: 9.12rem;
    display: flex;
    pointer-events: none;
    user-select: none;
}

.text {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}

.arrow {
    margin-top: 3px;
    color: #a09a9f;
}
