.default {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    fill: #717274;
    width: 2rem;
    height: 2.15rem;
    margin: 0 0.03rem 0 0.2rem;
}

 .icon svg {
     height: 1.125rem;
 }

 .sidebar svg {
     width: 1.25rem;
     height: auto;
 }


.sidebar,
.gear,
.phone {
    composes: icon;
}

.sidebar:hover,
.gear:hover,
.phone:hover {
    fill: #3aa3e3;
}



.divider {
    width: 1px;
    height: 1.5rem;
    background: rgba(113, 114, 116, .5);
    margin: .25rem 0 .25rem 5px;
}
