.default {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*margin: 0 auto -.0625rem;*/
    /*padding-top: .0625rem;
    padding-bottom: .125rem;
    padding-left: 0;
    padding-right: 2.5rem;*/
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: .94rem;
    line-height: 1.38rem;
    color: #2c2d30;
    user-select: text;
    word-wrap: break-word;
}


.default:hover {
    background: #f9f9f9;
}
